<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SuperVentas</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <mapping class = "Modelo.Usuarios" package= "Modelo" resource ="/Modelo.Usuarios.hbm.xml"/>
        <mapping class = "Modelo.Productos" package= "Modelo" resource ="/Modelo.Productos.hbm.xml"/> 
        <mapping class = "Modelo.Pedidos" package= "Modelo" resource ="/Modelo.Pedidos.hbm.xml"/> 
        <mapping class = "Modelo.Pedidoproducto" package= "Modelo" resource ="/Modelo.Pedidoproducto.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
